*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 20fr;
}

body > div{
    /* border: 1px solid red; */
    height: 100vh;
}

.l-panel-container{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    background-color: #08444e;
    transition: .5s all ease-in-out;

    box-shadow: 2px -1px 5px 1px rgba(0,0,0,0.91);
    -webkit-box-shadow: 2px -1px 5px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px -1px 5px 1px rgba(0,0,0,0.51);

    display: flex;
    flex-direction: column;
}

.l-panel-container.on{
    width: 200px;
    transition: .5s all ease-in-out;
    box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.51);
}

.comp-logo{
    position: absolute;
    width: 60px;
    left: 50%;
    margin-top: 10px;
    cursor: pointer;
    transform: translateX(-50%);
    transition: .5s all ease-in-out;
}

.l-panel-container.on .comp-logo{
    width: 120px;
    transition: .7s all ease-in-out;
}

.panel-dashboard,
.panel-cliententry,
.panel-addclient,
.panel-logout{
    /* border: 1px solid red; */
    background-color: #ffffff0c;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    color: white;
    transition: .4s all ease-in-out;
    cursor: pointer;
}
.panel-dashboard{
    margin-top: 150px;
}
.panel-logout{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.selected{
    background-color: #ffffff2f;
}
.panel-dashboard img,
.panel-cliententry img,
.panel-addclient img,
.panel-logout img{
    width: 30px;
}
.panel-dashboard p,
.panel-cliententry p,
.panel-addclient p,
.panel-logout p{
    display: none;
    margin: 5px;
}
.panel-dashboard:hover,
.panel-cliententry:hover,
.panel-addclient:hover,
.panel-logout:hover{
    background-color: #e9e9e952;
    transition: .4s all ease-in-out;
}

.l-panel-container.on .panel-dashboard,
.l-panel-container.on .panel-cliententry,
.l-panel-container.on .panel-addclient,
.l-panel-container.on .panel-logout{
    justify-content: left;
    padding-left: 30px;
}

.l-panel-container.on .panel-dashboard img,
.l-panel-container.on .panel-cliententry img,
.l-panel-container.on .panel-addclient img,
.l-panel-container.on .panel-logout img{
    width: 20px;
}
.l-panel-container.on .panel-dashboard p,
.l-panel-container.on .panel-cliententry p,
.l-panel-container.on .panel-addclient p,
.l-panel-container.on .panel-logout p{
    display: block;
}


/* ++++++++++++++++++++++++++ */
.notification-container{
    position: fixed;
    border-radius: 5px;
    background-color: #145c69;
    height: 40px;
    width: auto;
    right: 2%;
    top: 10px;
    box-shadow: 1px 1px 3px 0px black;
    display: grid;
    grid-template-columns: 1fr 3fr;
    z-index: 3;
}
.notification-container > div{
    display: flex;
    align-items: center;
    padding: 0 7px;
}
.notify {
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.26);
}
.notify a{
    text-decoration: none;
    color: white;
    position: relative;
}
.notify-number{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    font-size: .59em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    box-shadow: 1px 1px 2px 0px black;
}

.user-logged{
    color: white;
    justify-content: space-evenly;
}
.user-logged p{
    margin-left: 5px;
}





/* Main container */
.main-container{
    overflow-y: scroll;
    padding: 10px;
}

header{
    text-align: center;
}
header > h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-decoration-color: black;
}
header > h6{
    margin-bottom: 20px;
}


/* Menu */
.menu1{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#monthId{
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Ico Help */

.ico-help{
    color: gray;
    margin-right: 10px;
    margin-top: 10px;
}
.bi-question-square-fill{
    width: 20px;
    height: auto;
}
.bi-question-square-fill:hover{
    box-shadow: 1px 1px 3px 0px black;
    color: rgb(212, 99, 58);
    transition: .3s all ease-in-out;
}

/* Help section */
.help-container{
    position: relative;
    overflow: hidden;
    height: 0;
}
.help-container.open{
    height: auto;
}
.help-color{
    padding: 5px;
}



.table-color{
    border-collapse: collapse;
}
.table-color, .table-color > thead,.table-color > tbody,.table-color > tbody > tr,.table-color > tbody > tr > td{
    border: 1px solid gray;
}
.table-color tbody tr td div{
    border: 1px solid rgb(114, 114, 114);
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 50%;
}
.table-color tbody tr:nth-child(1) td div:nth-child(1){
    background-color: rgb(93, 187, 93);
}
.table-color tbody tr:nth-child(2) td div:nth-child(1){
    background-color:rgb(250, 158, 158);
}
.table-color tbody tr:nth-child(3) td div:nth-child(1){
    background-color: rgb(243, 72, 72);
}

.table-color tbody tr td{
    padding: 5px;
}



.month-name{
    text-align: center;
}

.table-container-1{
    overflow: hidden;
    border-radius: 5px;
}

.table1{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    border-color: rgb(138, 138, 138);
    background-color: #dfdfdf;
   
}

.thead1{
    background-color: rgba(26, 85, 124, 0.801);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.table1 thead tr th{
    width: 2.3%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
}

.table1 thead tr th:nth-child(1){
    width: 20%;
    font-size: medium;
}

.tbody1{
    background-color: rgb(255, 255, 255);
}

.tbody1 tr td{
    text-align: center;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.tbody1 tr td:nth-child(1){
    text-align: left;
}
.tbody1 tr:nth-of-type(odd){
    background-color: rgba(105, 105, 105, 0.26);
}

.tbody1 tr td:nth-child(1) a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(150, 48, 48);
}

/* .tbody1 tr td input[type="text"]{
    position: absolute;
    left: 0;
    top: 0;    
    font-size: 10px;
    width: 30px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 7;
    background-color: transparent;
} */
.tbody1 tr td input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
}

.tbody1 tr:hover{
    background-color: rgba(0, 0, 0, 0.288);
}

.tbody1 tr td p{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    /* top: 0; */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(88, 88, 88);
    visibility: hidden;
}
.tbody1 tr td p.show{
    visibility: visible;
}

/* anim view ammt */
.tbody1 tr td:hover > p{
    visibility: visible;
}

.td-date-now{
    border-left: 1px solid rgb(241, 67, 67);
    border-right: 1px solid rgb(241, 67, 67);
    
}


/* Total Container */
.total-container{
    border: 1px solid rgb(184, 182, 182);
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(53, 53, 53);
}

.total-container > div{
    margin: 0 20px;
}
.total-container > div > h4{
    font-style: italic;
    font-size: small;
}
.total-container > div > h5{
    text-align: right;
}
.total-container > div:nth-child(1) > h5{
    color: rgb(56, 139, 70);
}
.total-container > div:nth-child(2) > h5{
    color: rgb(139, 56, 56);
}





/* ++++++++++++ MODAL SECTION +++++++++++ */
.modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}.modal-background.open{
    display: block;
}
.modal-container{
    box-shadow: 0px 0px 5px 0px black;
    background-color: rgb(255, 255, 255);
    /* height: 200px;
    width: 200px; */
    padding: 20px;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    transition: .4s all ease-in-out;
}.modal-container.open{
    top: 50%;
    transition: .4s all ease-in-out;
}
.modal-close{
    border: 1px solid black;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(250, 18, 18);
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    cursor: pointer;
}
.modal-close:hover{
    box-shadow: 1px 1px 3px 0px black;
}
.modal-body{
    border-radius: 5px;
}

/* ******************CLIENT INFORMATION */
.client-info-container{
    border: 1px solid rgb(189, 189, 189);
    height: 500px;
    width: 900px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-image: linear-gradient(rgb(228, 228, 228),white);
}


.info-profile-details{
    display: flex;
}

.info1{
    display: flex;
    flex-direction: column;
}
.info1 div:nth-child(1){
    height: 70%;
    overflow: hidden;
}
.profile-pic{
    position: relative;
}
.profile-pic img{
    padding: 5px;
    width: 150px;
    height: auto;
}
.profile-name{
    padding: 5px;
}
/* Profile name */
.profile-name h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    color:rgb(150, 48, 48);
}

/* Credit details */
.info-credit-details{
    /* border: 1px solid black; */
    position: relative;
}
.credit-table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}
.credit-table, .credit-table tr, .credit-table tr td{
    border: 1px solid gray;
}
.credit-table tr td:nth-child(1){
    width: 40%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #cecece;
    /* font-weight: lighter; */
    padding: 5px;
}
.credit-table tr td:nth-child(2){
    text-align: left;
    /* padding-left: 30px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#loanAmmount{
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}
#loanDaily{
    color: rgb(241, 83, 83);
    font-weight: bold;
    font-size: 1.2em;
}
#loanRemain{
    color: rgb(187, 3, 3);
    font-weight: bold;
    font-size: 1.5em;
}
#totalReceived{
    color:rgb(56, 139, 70);
    font-weight: bold;
    font-size: 1.5em;
}
#totalReceivable{
    color: rgb(0, 156, 228);
    font-weight: bold;
    font-size: 1.7em;
}
.client-peso-sign{
    margin-right: 15px;
    margin-left: 5px;
    color: rgb(78, 78, 78);
}


/* btn update */
.update-client-credit{
    padding: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}


.info1 div:nth-child(2){
    height: 100%;
}


.info2{
    display: grid;
    grid-template-columns: auto;
    border-left: 1px solid rgb(173, 173, 173);
}
.info2 > div{
    border-top: 1px solid rgb(202, 202, 202);
}


/* +++++++++++MODAL UPDATE client credit */

.credit-info{
    border: 1px solid rgb(184, 184, 184);
    height: 500px;
    width: 900px;
    background-image: linear-gradient(rgb(228, 228, 228),white);
    overflow: hidden;
}
.credit-info-back{
    border: none;
    background-color: rgb(134, 132, 132);
    background-image: linear-gradient(gray, white);
    border-radius: 5px;
    padding: 3px;
    color: rgb(87, 86, 86);
    cursor: pointer;
}
.credit-info-back:hover{
    box-shadow: 1px 1px 1px 0px black;
    color: rgb(0, 0, 0);
}
.credit-info h2, .credit-info h5, .credit-info p{
    text-align: center;
}
.credit-info h2{
    color:rgb(150, 48, 48);
}

.credit-info > p span{
    color: red;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.credit-update-table, .credit-table2 thead tr{
    border: 1px solid gray;
}
.credit-table2{
    width: 100%;
}
/* .credit-table2 thead{
    background-color: rgb(134, 134, 134);
} */
.credit-table2 thead tr, .credit-table2 tbody tr, .credit-table2 tbody tr td{
    border: 1px solid rgb(173, 173, 173);
}

.credit-table2 tbody tr td:nth-child(1),
.credit-table2 tbody tr td:nth-child(2){
    text-align: center;
}
.credit-table2 tbody tr td:nth-child(2) input{
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    background-color: transparent;
}

.credit-table2 tbody tr td:nth-child(3),
.credit-table2 tbody tr td:nth-child(4),
.credit-table2 tbody tr td:nth-child(5){
    width: 50px;
    text-align: center;
    padding: 3px;
}


.update-buttons{
    /* border: 1px solid red; */
    padding: 5px;
    text-align: right;
}
.update-btn{
    padding: 10px;
    border: none;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
    background-color: rgb(116, 179, 116);
    color: rgb(46, 46, 46);
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px black;
}
.update-btn:hover{
    box-shadow: 2px 2px 3px 0px black;
    color: rgb(26, 26, 26);
}

/* +++++++++++++++++++++++MODAL for checkbox */
.checkbox-update h4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(26, 85, 124, 0.801);
    color: white;
    padding: 5px;
    /* margin-bottom: 5px; */
    box-shadow: 0px 1px 2px 0px black;
}
/* .checkbox-update > table{
    border-collapse: collapse;
} */
.checkbox-update > table > thead > tr > th{
    font-size: .8em;
    color: rgb(63, 63, 63);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.checkbox-update > table > tbody > tr > td{
    text-align: center;
}
.checkbox-update > table > tbody > tr > td:nth-child(1){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .8em;
}
.checkbox-update > table > tbody > tr > td:nth-child(2) > input{
    text-align: center;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid gray;
}

.checkbox-update > table > tbody > tr > td:nth-child(3){
    width: 10%;
}
.checkbox-update > table > tbody > tr > td:nth-child(4){
    width: 10%;
}
.checkbox-update > table > tbody > tr > td:nth-child(5){
    width: 10%;
}



/* ++++++++++++++++GRAPH CONTAINER */
.graph-container{
    /* border: 1px solid red; */
    padding: 10px;
    margin-top: 20px;
}
#monthChart{
    height: 300px;
}
.graph-section2{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


