*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 20fr;
}

body > div{
    border: 1px solid red;
    height: 100vh;
}

.l-panel-container{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70px;
    background-color: #08444e;
    transition: .5s all ease-in-out;

    box-shadow: 2px -1px 5px 1px rgba(0,0,0,0.91);
    -webkit-box-shadow: 2px -1px 5px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 2px -1px 5px 1px rgba(0,0,0,0.51);

    display: flex;
    flex-direction: column;
    
    
}

.l-panel-container.on{
    width: 200px;
    transition: .5s all ease-in-out;
    box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.51);
}

.comp-logo{
    position: absolute;
    width: 60px;
    left: 50%;
    margin-top: 10px;
    cursor: pointer;
    transform: translateX(-50%);
    transition: .5s all ease-in-out;
}

.l-panel-container.on .comp-logo{
    width: 120px;
    transition: .7s all ease-in-out;
}



/* Main container */
.main-container{
    overflow-y: scroll;
    padding: 10px;
}

header{
    text-align: center;
}
header > h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-line:underline;
    text-decoration-style: solid;
    text-decoration-color: black;
}
header > h6{
    margin-bottom: 20px;
}


/* Menu */
.menu1{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#monthId{
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Ico Help */

.ico-help{
    color: gray;
    margin-right: 10px;
    margin-top: 10px;
}
.bi-question-square-fill{
    width: 20px;
    height: auto;
}
.bi-question-square-fill:hover{
    box-shadow: 1px 1px 3px 0px black;
    color: rgb(212, 99, 58);
    transition: .3s all ease-in-out;
}

/* Help section */
.help-container{
    position: relative;
    overflow: hidden;
    height: 0;
}
.help-container.open{
    height: auto;
}
.help-color{
    padding: 5px;
}



.table-color{
    border-collapse: collapse;
}
.table-color, .table-color > thead,.table-color > tbody,.table-color > tbody > tr,.table-color > tbody > tr > td{
    border: 1px solid gray;
}
.table-color tbody tr td div{
    border: 1px solid rgb(114, 114, 114);
    height: 20px;
    width: 20px;
    margin: 3px;
    border-radius: 50%;
}
.table-color tbody tr:nth-child(1) td div:nth-child(1){
    background-color: rgb(93, 187, 93);
}
.table-color tbody tr:nth-child(2) td div:nth-child(1){
    background-color:rgb(250, 158, 158);
}
.table-color tbody tr:nth-child(3) td div:nth-child(1){
    background-color: rgb(243, 72, 72);
}

.table-color tbody tr td{
    padding: 5px;
}



.month-name{
    text-align: center;
}

.table-container-1{
    overflow: hidden;
    border-radius: 5px;
}

.table1{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    border-color: rgb(138, 138, 138);
    background-color: #dfdfdf;
   
}

.thead1{
    background-color: rgba(26, 85, 124, 0.801);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.table1 thead tr th{
    width: 2.3%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
}

.table1 thead tr th:nth-child(1){
    width: 20%;
    font-size: medium;
}

.tbody1{
    background-color: rgb(255, 255, 255);
}

.tbody1 tr td{
    text-align: center;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.tbody1 tr td:nth-child(1){
    text-align: left;
}
.tbody1 tr:nth-of-type(odd){
    background-color: rgba(105, 105, 105, 0.26);
}

.tbody1 tr td:nth-child(1) a{
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(150, 48, 48);
}

/* .tbody1 tr td input[type="text"]{
    position: absolute;
    left: 0;
    top: 0;    
    font-size: 10px;
    width: 30px;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 7;
    background-color: transparent;
} */
.tbody1 tr td input[type="checkbox"]{
    cursor: pointer;
    opacity: 0;
}

.tbody1 tr:hover{
    background-color: rgba(0, 0, 0, 0.288);
}

.tbody1 tr td p{
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    /* top: 0; */
    left: 50%;
    transform: translateX(-50%);
    color: rgb(88, 88, 88);
    visibility: hidden;
}
.tbody1 tr td p.show{
    visibility: visible;
}

/* anim view ammt */
.tbody1 tr td:hover > p{
    visibility: visible;
}

.td-date-now{
    border-left: 1px solid rgb(241, 67, 67);
    border-right: 1px solid rgb(241, 67, 67);
    
}


/* Total Container */
.total-container{
    border: 1px solid rgb(184, 182, 182);
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(53, 53, 53);
}

.total-container > div{
    margin: 0 20px;
}
.total-container > div > h4{
    font-style: italic;
    font-size: small;
}
.total-container > div > h5{
    text-align: right;
}
.total-container > div:nth-child(1) > h5{
    color: rgb(56, 139, 70);
}
.total-container > div:nth-child(2) > h5{
    color: rgb(139, 56, 56);
}



/* ++++++++++++ MODAL SECTION +++++++++++ */
.modal-background{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    opacity: .4;
}
.modal-container{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


